
<div class="row">
  <div class="col-md-10">
    <nb-card>
      <nb-card-header>
        Seçenekler
      </nb-card-header>
    
      <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerMessage="Yükleniyor...">
        <ng2-smart-table [source]="source" [settings]="settings"  (createConfirm)="onCreateConfirm($event)"  (editConfirm)="onSaveConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
    
</div>

</div>
