
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        seçenekler
      </nb-card-header>
    
      <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerMessage="Yükleniyor...">
        <ng2-smart-table [source]="source" [settings]="settings"  (createConfirm)="onCreateConfirm($event)"  (editConfirm)="onSaveConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
    
</div>
</div>
<div class="row">


<div class="col-md-8" style="margin:auto">
  <nb-card>
    <nb-card-header>
      Görüntü
    </nb-card-header>
  
    <nb-card-body style="text-align:center">
        <video-player ></video-player>
    </nb-card-body>
  </nb-card>
  
</div>






</div>
