
<div class="row">
  <div class="col-md-7">
    <nb-card>
      <nb-card-header>
        Kategoriler
      </nb-card-header>
    
      <nb-card-body>
        <ng2-smart-table [settings]="settings" (editConfirm)="onSaveConfirm($event)" [source]="src">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
    
</div>


<div class="col-md-5">
  <nb-card>
    <nb-card-header>
      Görüntü
    </nb-card-header>
  
    <nb-card-body style="text-align:center">
        <video-player ></video-player>
    </nb-card-body>
  </nb-card>
  
</div>

</div >



