
<div class="row">
  <div class="col-md-8">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerMessage="Yükleniyor...">
      <nb-card-header>
        Secenekler
      </nb-card-header>
    
      <nb-card-body>
        <ng2-smart-table [source]="source" [settings]="settings"  (createConfirm)="onCreateConfirm($event)"  (editConfirm)="onSaveConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
    
</div>

<div class="col-md-3" id="sagdakayan" style="position: fixed; right: 10px; z-index: 1;">
    <nb-card>
    <nb-card-header>
      Görüntü
    </nb-card-header>
  
    <nb-card-body style="text-align:center !important" >
        <video-player ></video-player>
    </nb-card-body>
  </nb-card>
  
</div>

</div>
